{% extends 'eshop/admin/base.html.twig' %}
{% block title %}List of Categories {% endblock %}
{% block title_link %} 
	<small> 
		<a href="{{path('admin_category_new')}}">Add new</a> 
	</small>
{% endblock %}	
{% block body %}
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Image</th>
			<th>Label</th>
			<th>Details</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>

	{% for line in items %}
		<tr>
			<td>{{ line.id }}</td>
			<td> 
				{% if line.image is not null %}
				<img src="/uploads/categories/{{ line.image }}" style="width: 50px;" /> 
				{% endif %}
			</td>
			<td>{{ line.label }}</td>
			<td>{{ line.details | slice(0,100) | raw }}</td>
			<td>
				<a href="{{ path('admin_category_update', {'id' : line.id}) }}" class="glyphicon glyphicon-pencil"></a>
				<a href="{{ path('admin_category_remove', {'id' : line.id}) }}" class="glyphicon glyphicon-remove-circle remove-item"></a>
			</td>
		</tr>
	{% endfor %}


	</tbody>
</table>
{% endblock %}